page-trajet-touristique {
  h6 {
    padding: 10px;
    background-color: #F1F5F6;
    font-size: 17px;
  }
  div .toggle-icon{
    background-color: blueviolet !important;
  }
  .validerParcour{
    background-color: #3BD27D;
    margin-bottom: 0 !important;
    bottom:0;
    border-radius: 0;
  }

  ion-label {
    color: grey;
  }
}
