page-accueil-ticket {
  .bg-vente-ticket {
    background-color: #F1F5F6;
  }

  button.ticket {
    padding: 35px;
    background-color: white;
    border: 1px solid lightgrey;
    color: grey;
  }

  button.menu {
    background-color: transparent;
    color: grey;
  }
}
