page-connexion {
  .bg-login {
    background-color: #F1F5F6;
  }

  ion-item {
    border-radius: 3px;
  }

  .login {
    background-color: #3BD27D;
  }

  .connexion {
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 3px;
    padding-left: 10px; margin-bottom: 3px
  }
}
